.custom-card {
    position: relative;
    border: 5px solid white;
    border-radius: 50px;
    overflow: hidden;
  }
  
  .custom-card::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: radial-gradient(circle, transparent 35%, white 36%);
    background-size: 20px 20px;
    z-index: 1;
  }
  
  .custom-card::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 20px;
    background: radial-gradient(circle, transparent 35%, white 36%);
    background-size: 20px 20px;
    z-index: 0;
  }
  